.git
.gitignore
.gitattributes
.npmrc
.env
.env.*
*.pem
*.key

node_modules
dist
coverage
docs
**/__tests__
**/*.test.*

README.md
*.log
*.tmp
.DS_Store
.idea
.vscode

Dockerfile
.dockerignore
deploy.sh
game.config.sh
docker-compose.yml
docker-stack.yml
docker-stack.yml.*
